body, html {
  height: 100%;
  margin: 0;
}

.BackgroundImage {
  background-image: url('https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-craig-adderley-1563356.jpg&fm=jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.ComingSoon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
